@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body, button
{
    font-family: 'Open Sans', sans-serif;
}

body, html
{
    background: #2ecc71;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#content
{
    margin: 0px auto;
    padding: 15px;
    padding-top: 0px;
    box-sizing: border-box;
    display: block;
    width: 500px;
    max-width: 100%;

    margin-bottom: 20px;
    text-align: center;
}

#edit
{
    box-sizing: border-box;
}

#header
{
    margin: 0px auto;
    margin-bottom: 25px;
    width: 100%;
    max-width: 500px;
    display: block;
    padding: 8px;
    box-sizing: border-box;
}

#preview
{
    width: 100%;
}


#upload
{
    margin-top: 100px;
}

button
{
    border: 0px solid black;
    background: #cb4e4e;
    color: white;
    box-shadow: 0 10px #ab3c3c;
    margin-bottom: 10px;
    outline: none;
    margin-top: 6px;
    cursor: pointer;
    font-size: 2em;
    padding: 20px 80px;
}

button:hover
{
    margin-top: 4px;
    box-shadow: 0 12px #ab3c3c;
    margin-bottom: 12px;
}

button:active
{
    margin-top: 16px;
    box-shadow: 0 0px #ab3c3c;
    margin-bottom: 0px;
}

button.full
{
    width: 100%;
}

#footer
{
    padding: 20px 40px;
    font-size: 12px;
    color: #FFF;
    opacity: 0.75;
    margin-top: 50px;
}

@media(max-width: 700px)
{
    button
    {
        width: 100%;
        font-size: 1em;
        padding-left: 5px;
        padding-right: 5px;
    }

    #footer
    {
        padding: 20px 20px;
    }
}
